p a, footer a {
	color: rgb(111,176,235);
}

body,aside {
	padding: 10px;
}

table {
	width: 100%;
}

th {
	min-width: 100px;
}

#container {
	width: 70%;
	margin: 0 auto;
}

#sorters span, #sorters img {
	cursor: pointer;
}

#stats {
	text-align: center;
}

#stats b {
	margin-top: 5px;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.country {
	width: 32px;
	margin-top: -4px;
}

.date,.date-small {
	width: 75px;
	margin-right: 5px;
	display: inline-block;
}

.date-small {
	width: 55px;
}

.rating {
	text-align: center;
	width: 100px;
	margin-right: 5px;
	display: inline-block;
}

.style {
	font-style: italic;
}

.search {
	text-align: center;
}


@media(max-width: 500px){
	#container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#header {
		font-size: 1.5em;
	}
	.beer:nth-child(even) {
		background-color: #d5e8f9;
		margin-top: -5px;
	}
	.beer {
		padding: 10px;
		margin-bottom: -5px;
		margin-top: 5px;
		margin-left: -10px;
	}
	.brewery,.name {
		font-weight: bold;
	}
	.date {
		display: none;
	}
	.rating {
		border: 1px solid black;
	}
}

@media(min-width: 500px){
	hr,.date-small {
		display: none;
	} 
}

@media(min-width: 640px){
	.title-small {
		display: none;
	}
	#might-be-mobile {
		display: none;
	}
}


@media(max-width: 640px){
	.title-large {
		display: none;
	}
}

@media(max-width: 500px){
	.date {
		display: none;
	}
}

