html {
	background: rgb(81,81,81);
	color: rgb(236,236,236);
}

html, body {
	margin: 0;
	padding: 0;
}

p a, footer a {
	color: rgb(111,176,235);
}

table {
	width: 100%;
}

th {
	min-width: 100px;
}

/* Style circles */
/*
.great {
	background-image: url(../images/Great.svg)
}

.good {
	background-image: url(../images/Good.svg)
}

.ok {
	background-image: url(../images/Ok.svg)
}

.meh {
	background-image: url(../images/Meh.svg)
}

.bad {
	background-image: url(../images/Bad.svg)
}*/

/* Date circle */
/*.month {
	position: relative;
	font-size: 1.3em;
	top: -8px;
	right: -4px;
}

.year {
	position: relative;
	font-size: 1.3em;
	bottom: -8px;
	left: -4px;
}*/

.solidus {
	position: relative;
	font-size: 1.3em;
}

.full-width {
	width: 100%;
}

.banner, .banner-small {
	background: rgb(232,100,111);
	color: white;
	vertical-align: center;
	padding-left: 15%;
}

.banner {
	font-size: 2.5em;
	height: 3em;
	line-height: 3em;
}

.banner-small {
	font-size: 1.5em;
	height: 2em;
	line-height: 2em;
}


#container {
	/*width: 100%;*/
	margin: 0 auto;
	color: rgb(49,49,49);
	background: rgb(236,236,236);
}

#sorters span, #sorters img {
	cursor: pointer;
}


#full-beer-list {
	padding-left: 25%;
}


.beer {
	padding: 15px;
	/*height: 70px;*/
}

.beer aside {
	float: left;
	text-align: center;
	height: 100%;
	margin-right: 15px;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*.circle {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	border: black solid 2px;
	width: 50px;
	height: 45px;
	font-size: .6em;
	line-height: 20px;
	padding-top: 5px;
	text-align: center;
	float: left;
	margin-left: 10px;
}*/


.country-pic img {
	height: 1.3em;
}

.category {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 3px 6px;
	min-width: 10px;
	text-align: center;
	font-family: Monaco, "Liberation Mono", Courier, monospace;
	background: #EEE;
	color: rgb(111,176,235);
	border-radius: 2px;
	text-shadow: 1px 1px 0 black;
	word-break: break-all;
	cursor: pointer;
}

.category:hover {
	color: black;
}

.category-active {
	color: black;
	background: #CCC;
}

.category-columns {
	margin: 0 115px;
}

.date,.date-small {
	width: 75px;
	margin-right: 5px;
	display: inline-block;
}

.date-small {
	width: 60px;
}

.emphasis {
	font-weight: bold;
}

.filtered-beer{
	margin: 15px 0;
}
.filtered-beer:nth-child(even) {
	background-color: #d5e8f9;
	margin-top: -5px;
}

.hidden {
	display: none;
}

.menu-item {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 15px 6px;
	min-width: 10px;
	text-align: center;
	font-size: 2.5em;
	background: rgb(111,176,235);
	color: #EEE;
	border-radius: 5px;
	text-shadow: 1px 1px 0 black;
	word-break: break-all;
	cursor: pointer;
}

.menu-item:hover {
	background: #9cc9f1;
}

.menu-item-active {
	color: black;
	background: #C9E1F7;
}

.middle {
	font-size: 1em;
}

.pint {
	height: 25px;
}

.rating {
	text-align: center;
	font-size: 1.3em;
}

.rating-image {
	height: 50px;
}

.red {
	color: rgb(232,100,111);
}

.style {
	font-style: italic;
}

.search {
	text-align: center;
	height: 2em;
	width: 50%;
	font-size: 2em;
}

.sub-category {
	cursor: pointer;
}

.sub-category:hover {
	background: #ddd;
}

.top {
	font-size: 1.4em;
}


@media(max-width: 500px){
	#container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#header {
		font-size: 1.5em;
	}

	#sorters {
		/*background: rgb(124, 183, 236);*/
		width: 100%;
		padding: 10px;
		margin-left: -10px;
		/*border-bottom: 3px solid black;*/
		/*border-top: 3px solid black;*/
	}
	.beer:nth-child(even) {
		background-color: #d5e8f9;
		margin-top: -5px;
	}
	.beer {
		padding: 10px;
		margin-bottom: -5px;
		margin-top: 5px;
		margin-left: -10px;
	}
	.brewery,.name {
		font-weight: bold;
	}
	.date {
		display: none;
	}
	.rating {
		border: 1px solid black;
	}
}

@media(min-width: 500px){
	.date-small {
		display: none;
	} 
}

@media(min-width: 640px){
	.title-small {
		display: none;
	}
	#might-be-mobile {
		display: none;
	}
}


@media(max-width: 640px){
	.title-large {
		display: none;
	}
}

@media(max-width: 500px){
	.date {
		display: none;
	}
}

/* Chart styles 

text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart rect {
  fill: steelblue;
  stroke: white;
}

.count {
  fill: red;
}