p a, footer a {
	color: rgb(111,176,235);
}

body,aside {
	padding: 10px;
}



table {
	width: 100%;
}

th {
	min-width: 100px;
}

li {
	display: block;
	background: #FFFAF0;
}

#container {
	width: 70%;
	margin: 0 auto;
}

#sorters span, #sorters img {
	cursor: pointer;
}


#full-beer-list {
	margin-left: -40px;
}

.beer {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 15px;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.country, .country-pic {
	width: 32px;
	margin-top: -4px;
}

.category {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 3px 6px;
	min-width: 10px;
	text-align: center;
	font-family: Monaco, "Liberation Mono", Courier, monospace;
	background: #EEE;
	color: rgb(111,176,235);
	border-radius: 2px;
	text-shadow: 1px 1px 0 black;
	word-break: break-all;
	cursor: pointer;
}

.category:hover {
	color: black;
}

.category-active {
	color: black;
	background: #CCC;
}

.category-columns {
	margin: 0 115px;
}

.date,.date-small {
	width: 75px;
	margin-right: 5px;
	display: inline-block;
}

.date-small {
	width: 60px;
}

.emphasis {
	font-weight: bold;
}

.filtered-beer{
	margin: 15px 0;
}
.filtered-beer:nth-child(even) {
	background-color: #d5e8f9;
	margin-top: -5px;
}

.hidden {
	display: none;
}

.menu-item {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 15px 6px;
	min-width: 10px;
	text-align: center;
	font-size: 2.5em;
	background: rgb(111,176,235);
	color: #EEE;
	border-radius: 5px;
	text-shadow: 1px 1px 0 black;
	word-break: break-all;
	cursor: pointer;
}

.menu-item:hover {
	background: #9cc9f1;
}

.menu-item-active {
	color: black;
	background: #C9E1F7;
}

.middle {
	font-size: 1.4em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pint {
	height: 25px;
}

.rating {
	text-align: center;
	width: 100px;
	margin-right: 5px;
	display: inline-block;
	background: black;
	color: white;
}

.style {
	font-style: italic;
}

.search {
	text-align: center;
}

.sub-category {
	cursor: pointer;
}

.sub-category:hover {
	background: #ddd;
}


@media(max-width: 500px){
	#container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#header {
		font-size: 1.5em;
	}

	#sorters {
		/*background: rgb(124, 183, 236);*/
		width: 100%;
		padding: 10px;
		margin-left: -10px;
		/*border-bottom: 3px solid black;*/
		/*border-top: 3px solid black;*/
	}
	.beer:nth-child(even) {
		background-color: #d5e8f9;
		margin-top: -5px;
	}
	.beer {
		padding: 10px;
		margin-bottom: -5px;
		margin-top: 5px;
		margin-left: -10px;
	}
	.brewery,.name {
		font-weight: bold;
	}
	.date {
		display: none;
	}
	.rating {
		border: 1px solid black;
	}
}

@media(min-width: 500px){
	.date-small {
		display: none;
	} 
}

@media(min-width: 640px){
	.title-small {
		display: none;
	}
	#might-be-mobile {
		display: none;
	}
}


@media(max-width: 640px){
	.title-large {
		display: none;
	}
}

@media(max-width: 500px){
	.date {
		display: none;
	}
}

/* Chart styles 

text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart rect {
  fill: steelblue;
  stroke: white;
}

.count {
  fill: red;
}