@import 'fonts'
@import 'graphs'

bold = font-family knewave, sans-serif

html,body
	font-family uglyqua, serif

body
	background hsl(28, 54%, 88%)
	color hsl(351, 96%, 21%)

h1,h2,h3,h4,h5,h6
	font-family knewave

.centered
	text-align center

.cursive
	font-family greatvibes, cursive

.emph
	font-style italic

.recent
	padding 15px

#beer
	font-size 6em

#header
	margin-top 15px
	margin-bottom 15px
	border-bottom 2px solid rgba(116, 81, 50, 0.1)
	box-shadow 0 1px 2px rgba(255, 255, 255, 0.11)
