<!DOCTYPE html>
<html ng-app>
<head>
<meta charset=utf-8 />
<title>Beers I Have Known and Loved</title>
  <link rel="stylesheet" type="text/css" href="css/typeplate.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/fonts/fonts.css">
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/tinycolor.js"></script>
  <script src="js/libs/colorscale.js"></script>
  <script src="js/libs/jquery.tablesorter.min.js"></script>
  <script src="js/libs/angular.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="BeerCtrl">
  <div id="container">
    <div class="row-fluid">
      <img src="logo.png" style="float: left;"/>
      <h1 id="header">Beers I Have Known and Loved</h1>
    </div>
    <div class="row-fluid" id="stats">
      <ul class="stats-tabs">

      </ul>
    </div>
    <div class="row-fluid">
      <div class="search">
        <input id="search" ng-model="search" />
      </div>
      <table class="tablesorter">
        <thead>
          <th>★</th>
          <th>I Tried</th>
          <th>Which Is A</th>
          <th>From</th>
          <th>And It Drank In</th>
          <th>During</th>
        </thead>
        <tbody>
          <tr ng-repeat="beer in beers | filter:query">
            <td class="rating" style="color: {{beer.color}}">{{beer.rating}}</td>
            <td><span class="brewery">{{beer.brewery}}</span> <span class="name">{{beer.name}}</span></td> 
            <td class="style">{{beer.style}}</td> 
            <td class="country">{{beer.country}}</td>
            <td class="location">{{beer.drinkLocationCity}}, {{beer.drinkLocationCountry}}</td>
            <td class="date">{{beer.date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>