extend layout

block content
	div.container#header
		h1#beer Beer
	
	div.container
		div.row-fluid
			div.centered.span12 
				h3 A Tale of Data Visualization &amp; Debauchery
		div.row-fluid
			.options.span6
				| Look at all the options!
			.recent.span6
				h2 Recent Beers
				ol
					each b in recent	
						li #{b.brewery} #{b.name}: #{b.rating}
		div.row-fluid
			a(href="/breweries").loader Load Breweries
	