html(lang='en')
	head
		title Beers I Have Known and Loved
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/style.css')
		//- link(rel='stylesheet', href='/stylesheets/fonts.css')
		//- link(rel='stylesheet', href='/stylesheets/graphs.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		
	body
		#content
			block content

	script(src="http://code.jquery.com/jquery-1.9.1.min.js")
	script(src="/javascripts/func.beerviz.js")
	block page-scripts