html,body
	margin 0
	padding 0
	font-family uglyqua, serif

body
	background hsl(28, 54%, 88%)
	color hsl(351, 96%, 21%)


h3
	margin-top -20px

.options
	float right

.recent
	border-radius 10px
	-moz-border-radius 10px
	-webkit-border-radius 10px
	border 3px solid black
	padding 15px
	width 300px


#content
	margin 0 auto
	width 1024px

