@font-face {font-family: 'PT Serif'; 
	src: url('PTF55f_w.eot'); 
	src: local('PT Serif'), url('PTF55f_w.woff') format('woff'),url('PTF55f_w.ttf') format('truetype'), url('PTF55f_w.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif'; 
	font-style: italic;
	src: url('PTF56f_w.eot'); 
	src: local('PT Serif Italic'), url('PTF56f_w.woff') format('woff'),url('PTF56f_w.ttf') format('truetype'), url('PTF56f_w.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: 'PT Serif';
	src: url('PTF75f_w.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Serif Bold'), url('PTF75f_w.woff') format('woff'),url('PTF75f_w.ttf') format('truetype'), url('PTF75f_w.svg#PTSerif-Bold') format('svg');}

@font-face {font-family: 'PT Serif';
	font-style: italic;
	font-weight: bold; 
	src: url('PTF76f_w.eot'); 
	src: local('PT Serif Bold Italic'), url('PTF76f_w.woff') format('woff'),url('PTF76f_w.ttf') format('truetype'), url('PTF76f_w.svg#PTSerif-BoldItalic') format('svg');}
